body {
	font-family: $font;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $text-color;
	background: $bg-color;
}

.app {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

*:focus {
	outline: 0 !important;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

button,
input,
select,
textarea {
	background-color: transparent;
	border-style: none;
	color: inherit;
}

a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	border-bottom: 1px solid transparent;

	&:hover {
		border-color: white;
	}
}
