.panel {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px 0;
}

.panel__item {
	display: flex;
	align-items: center;
	&:first-child .btn {
		border-color: transparent;
	}
	& > div {
		position: relative;
	}
}
