.table {
	border-collapse: collapse;
	position: relative;
	width: 100%;
}

.table__row {
	position: relative;
	&:nth-child(odd) {
		background: $odd-row-color;
	}
	&:nth-child(even) {
		background: $even-row-color;
	}
}

.table__item {
	padding: 1rem;
	max-width: 10rem;
}

.table__item {
	text-align: left;
}
.table__item:first-child {
	width: 1%;
}

.table__body .table__row:hover {
	cursor: pointer;
	transition: 0.2s;
	background: $select-row-color;
	.table__item:nth-child(2) {
		font-weight: bold;
	}
}

.table__row.selected .table__item:nth-child(2) {
	font-weight: bold;
	opacity: 0.8;
}
